footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg, #6690fa, #3867db);
    box-shadow: 2px 2px 2px #00000040;
}

footer p{
    color: #fff;
    text-shadow: 2px 2px 2px #00000040;
}

footer hr{
    width: 50%;
    margin: 20px 0;
    border: 1px solid #e6dfff;
}

footer .socials{
    display: flex;
    gap: 40px;
}

footer .socials a{
    display: flex;
    gap: 10px;
}

footer .socials img{
    height: 24px;
    box-shadow: 2px 2px 2px #00000040;
    border-radius: 5px;
}